<div style="text-align: center; width: 800px; height: 800px; left: 50%; margin: 100px 0px 0px -400px; position: absolute;">
    <div style="height: 800px; width: 800px; "> <!--이걸 해줘야지 글씨가 좁아지지 않는다 바깥의 사이즈랑 똑같이 해야함.-->
        <h1>메일이 발송 되었습니다.</h1>
        <p>받는 사람 : <%= @email %></p>
        <p>제목 : <%= @title %></p>
        <p>내용 : <%= @content %></p>


        <a href = "/">다시보내기</a>
    </div>
</div>